@inherits LayoutComponentBase

<PageTitle>Kaamiflix</PageTitle>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main style="background-color:black;">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
