<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var director in Model)
        {
            <tr>
                <td>@director.Name</td>
                <td>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-outline-primary me-1" @onclick="@(()=> OnClick.InvokeAsync(new ClickModel(PageType.Edit,director.Id)))">Edit</button>
                        <button type="button" class="btn btn-outline-danger" @onclick="@(()=> OnClick.InvokeAsync(new ClickModel(PageType.Delete,director.Id)))">Delete</button>
                    </div>
                </td>

            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter] public List<DirectorDTO> Model { get; set; } = new();
    [Parameter] public EventCallback<ClickModel> OnClick { get; set; }
}
